* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: #fff200;
    text-align: center;
    height: 44px;
}

/* Nav */
nav{
    background-color: black;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li, a{
    color: white;
    font-size: 12px;
}

.icon{
   bottom: 5%;
}

nav ul li:nth-child(2) a {
    color: #fff200;
}

nav ul li:nth-child(2) i {
    color: #fff200;
    font-size: 15px;
    margin-left: 6px;
}

nav ul li:nth-child(3){
    position: relative;
}

nav ul li:nth-child(3) input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}

nav ul li:nth-child(3) i{
    position: absolute;
    font-size: 15px;
    right: 12px;
    color: #333;
    line-height: 30px;
    cursor: pointer;
}

nav ul li:nth-child(4) button{
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li:nth-child(4) button i{
    margin-right: 6px;
}

nav ul li:nth-child(4) button:hover{
    background-color: rgba(100,97,97);
}

nav ul li:nth-child(5){
    text-align: center;
}

nav ul li:nth-child(5):hover a{
    color: #fff200;
}

.buy{
    color: #fff200;
}

.btn-content{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff200;
    display: block;
    float: left;
    margin-right: 8px;
}

.btn-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #dacf02;
    display: block;
    pointer-events: none;
    animation: btnani 1s linear infinite;
}

@keyframes btnani{
    from{
        opacity: 0.4;
    } to {
        transform: scale(3);
        opacity: 0;
    }
}

nav ul li:nth-child(7):hover a{
    color: #fff200;
}

nav ul li:nth-child(8):hover a{
    color: #fff200;
}

nav ul li:nth-child(9):hover a{
    color: #fff200;
}

/* Menu bar */
.menu-bar {
    background-color: #fed100;
}

.menu-bar ul{
    display: flex;
    justify-content: space-between;
}

.menu-bar-content > ul > li{
    padding: 15px 6px;
    transition: all 0.3s ease;
}

.menu-bar ul li a{
    color: black;
    font-size: 16px;
}

.menu-bar ul li a i{
    margin-right: 6px;
    font-size: 16px;
}

.menu-bar ul li:hover{
    background-color: white;
}

.menu-bar-content > ul > li:nth-child(7){
    position: relative;
}

.menu-bar-content > ul > li:nth-child(7)::before{
    position: absolute;
    content: "Giảm 5%";
    display: block;
    height: 15px;
    width: 45px;
    background-color: #f51212;
    border-radius: 5px;
    right: 0;
    top: 0;
    font-size: 10px;
    padding-left: 3px;
    color: #fff;
}

.menu-bar-content > ul > li:nth-child(7)::after{
    position: absolute;
    content: "";
    background-color: #f51212;
    height: 7px;
    width: 7px;
    display: block;
    top: 10px;
    right: 10px;
    transform:rotate(45deg);
}

/* Form address */
.address-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 99;
}

.address-form-content{
    width: 450px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
}

.address-form-content form{
    padding: 12px 40px;
}

.address-form-content h2{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.address-form-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}

.address-form-content form p{
    font-size: 16px;
}

.address-form-content form input,select{
    height: 45px;
    width: 100%;
    display: block;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
}

.address-form-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #f97e0e;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}

/* Submenu */
.menu-bar-content ul li{
    position: relative;
}

.submenu{
    position: absolute;
    background-color: rgb(237, 235, 235);
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    z-index: 10;
}

.submenu ul{
    display: flex;
    flex-direction: column;
}

.submenu ul li{
    padding: 6px 0;
}

.submenu ul li:hover a{
    color: rgb(41, 41, 203);
}

.submenu ul li:hover {
    background-color: orange;
}

.menu-bar-content ul li:hover .submenu {
    display: block;
}

/* Slider */
li {
    list-style: none;
}

.slider{
    padding: 20px 0;
    height: 350px;
}

.slider-content {
    display: flex;
    justify-content: space-between;
}

.slider-content-left {
    width: 70%;
}

.slider-content-left-top{
    width: 100%;
    height: 300px;
    position: relative;
}

.slider-content-left-top img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.slider-content-left-bottom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}

.slider-content-left-bottom li{
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 38px;
    position: relative;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    font-size: 14px;
}

.slider-content-left-bottom li::before{
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}

.slider-content-left-bottom li.active{
    border-top: 4px solid #e3d80b;
    font-weight: bold;
}

.slider-content-right{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    justify-content: space-around;
}

.slider-content-right li{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 3px;
}

.slider-content-right li img{
    height: 170px;
    width: 170px;
    border-radius: 5px;
}

.slider-content-left-top-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-content-left-top-btn i{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(247, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.slider-content-left-top-container:hover i{
    opacity: 1;
}

/* Slider js */
.slider-content-left-top img{
    position: absolute;
}

.slider-content-left-top a:nth-child(2) img{
    transform: translateX(100%);
}

.slider-content-left-top a:nth-child(3) img{
    transform: translateX(200%);
}

.slider-content-left-top a:nth-child(4) img{
    transform: translateX(300%);
}

.slider-content-left-top a:nth-child(5) img{
    transform: translateX(400%);
}

.slider-content-left-top-container{
    position: relative;
    overflow: hidden;
}

.slider-content-left-top{
    transition: all 0.3s ease;
}


/* Baner */
.baner-one{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Product */
.slider-product-one-content{
    background-color: #f28710;
    padding: 12px 0;
    border-radius: 5px;
}

.slider-product-one-content-title{
    padding-bottom: 13px;
}

.slider-product-one-content-title h2{
    font-style: italic;
    padding: 12px 12px;
    text-align: center;
}

.slider-product-one-content-items{
    display: flex;
    justify-content: space-evenly;
}

.slider-product-one-content-item:hover img{
    transform: translateY(-10px);
}

.slider-product-one-content-item{
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 12px;
    border-radius: 5px;
}

.slider-product-one-content-item img{
    width: 100%;
    transition: all 0.5s ease;
}

.slider-product-one-content-item-text{
    padding-top: 20px;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
}

.slider-product-one-content-item-text li{
    margin-bottom: 6px;
}

.slider-product-one-content-item-text li:last-child{
    font-weight: bold;
}

.slider-product-one-content-item button{
   margin-top: 12px;
   height: 30px;
   padding: 0 12px;
   width: 100%;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   transition: all 0.3s ease;
}

.slider-product-one-content-item button:hover{
    background-color: tomato;
}

.slider-product-one-content-container{
    position: relative;
    overflow: hidden;
}

.slider-content-left-top-btn2{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-content-left-top-btn2 i{
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(247, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 15px;
    cursor: pointer;
}

.slider-product-one-content-items-content{
    position: relative;
    height: 390px;
    transition: all 0.3s ease;
}

.slider-product-one-content-items{
    position: absolute;
}

.slider-product-one-content-items:nth-child(2){
    transform: translateX(100%);
}

.slider-product-one-content-items:nth-child(3){
    transform: translateX(200%);
}

/* List Product */
.list-product-one-content-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-product-one-content-product-item{
    width: 20%;
    padding: 50px 12px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.list-product-one-content-product-item:hover > img{
    transform: translateY(-10%);
}

.list-product-one-content-product-item:hover {
    box-shadow: 3px 3px 5px rgb(234, 228, 228);
}

.list-product-one-content-product-item img{
    width: 100%;
    transition: all 0.3s ease;
}

.list-product-one-content-product-item-text{
    padding-top: 20px;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
}

.list-product-one-content-product-item-text li{
    margin-bottom: 6px;
}

.list-product-one-content-product-item-text li:last-child{
    font-weight: bold;
}

.list-product-one-content-product-item button{
   margin-top: 12px;
   height: 30px;
   padding: 0 12px;
   width: 100%;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   transition: all 0.3s ease;
}

.list-product-one-content-product-item button:hover{
    background-color: tomato;
}

.list-product-one{
    margin-top: 30px;
}

.list-product-one-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.list-product-one-content-title h2{
    color: #333;
}

.list-product-one-content-title ul li a{
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease;
}

.list-product-one-content-title ul{
    display: flex;
}

.list-product-one-content-title ul li{
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}

.list-product-one-content-title ul li:hover a{
    color: tomato;
}

/* cart */
.img-cart{
    width: 70px;
    position: fixed;
    width: 400px;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #ddd;
}

.td-cart{
    display: flex;
    align-items: center;
}

.input-cart{
    width: 30px;
    outline: none;
}

.delete-cart{
    cursor: pointer;
}

.total-cart{
    font-weight: bold;
}

.price-total{
    text-align: right;
}

.cart{
    width: 50%;
    margin: auto;
    padding-top: 30px;
    position: fixed;
    width: 600px;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: rgb(218, 196, 196);
    padding: 12px 20px;
    overflow-y: scroll;
    right: -100%;
    transition: all 0.3s ease;
}

.cart h2{
    margin-bottom: 20px;
    text-align: center;
}

.cart i{
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 530px;
}

.cart i:hover{
    color: tomato;
}

.cart table{
    width: 100%;
}

.cart table thead tr th:first-child{
    text-align: left;
}

.cart table thead tr th:last-child{
    text-align: right;
}

.cart table tr td{
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}

.cart table tbody tr td:last-child{
    text-align: right;
}

.class-button{
    text-align: center;
}

.cart button{
   margin-top: 12px;
   height: 30px;
   padding: 0 20px;
   cursor: pointer;
   border: none;
   border-radius: 5px;
}

.cart button:hover{
    background-color: tomato;
}


.footer__bottom{
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
    text-align: center;
}

/* bonus */
.ad{
    text-decoration: none;
}

.slider-product-one-content-background{
    background-color: #fff4bc;
    border-radius: 5px;
}

.slider-product-one-content-background-b{
    background-color: #dd4741;
    border-radius: 5px;
}

.slider-product-one-content-background-c{
    background-color: #f9de4b;
}
